* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.dark-theme {
  --bg: #212435;
  --navbar-bg: #212435;
  --primary-font-color: #fff;
  --secondry-font-color: #54595F;
  --tag-font-color: #6d4cc7;
  --footer-background: #1a1c2a;
  --card-bg-color: rgba(255,255,255,0.05);
}

.light-theme {
  --bg: #fff;
  --primary-font-color: #26222f;
  --secondry-font-color: #54595F;
  --tag-font-color: #6d4cc7;
  --navbar-bg: #6d4cc7;
  --footer-background: #fff;
  --card-bg-color: rgba(0,0,0,0.1);
}

body {
  background-color: var(--bg);
  margin: 0;
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.5s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


